<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href=@Url.Content("~/elmah")><i class="fa fa-circle-o"></i> elmah</a>
            </li>
        </ul>
    </section>
</aside>