
@{
    ViewBag.Title = "401";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 401</h2>
            <div class="error-content">
                <br>
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
                <p>
                    Request has not been applied because it lacks valid authentication credentials for the target resource
                </p>
            </div><!-- /.error-content -->
        </div><!-- /.error-page -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
