@model IEnumerable<PBManager.Dto.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "Accounts";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <br><small>Manage your accounts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
                <div class="col-md-10">

                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="@Url.Action("New", "Accounts")" class="btn btn-flat btn-block btn-success"><i class="fa fa-plus"></i> New account</a>
                                </div>
                            </div>
                            <br />


                            <div class="row">
                                <div class="col-md-12">


                                    <table class="table table-hover data-table" style="width: 100%;" id="tblPerson">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Initial balance</th>
                                            <th>Balance</th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody></tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>





@section Scripts{

    <script src="~/Content/AdminLte2/plugins/datatables/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(function() {
            $.ajaxSetup({
                cache: false
            });

            $("#tblPerson")
                .DataTable({
                    "serverSide": true,
                    "ajax": "/AccountsBeta/AccountData",
                    columnDefs: [{ orderable: false, targets: [3] }],
                    "columns": [
                        { "data": "Name" },
                        { "data": "InitialBalance" },
                        { "data": "Balance" },
                        {
                            data: null,
                            render: function(data, type, row) {
                                return "<a href='/Accounts/View/" +
                                    + row.Id +
                                    "'" +
                                    "class='btn btn-flat btn-default'><i class='fa fa-eye'></i> View </a> " +
                                    "<a href='/Accounts/Edit/" +
                                    row.Id +
                                    "'" +
                                    "class='btn btn-flat btn-default'><i class='fa fa-pencil-square-o'></i> Edit </a> " +
                                    "<a href='/Accounts/Delete/" +
                                    + row.Id +
                                    "'" +
                                    "class='btn btn-flat btn-danger' > <i class='fa fa-trash-o'></i> Delete </a > ";
                            }
                        }
                    ],
                    searchDelay: 1000
                });

        })
    </script>



}