@model PBManager.Dto.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Home";
}



<section class="content-wrapper">
    <div class="row">
    @if (TempData["EditProfileSuccess"] != null)
    {
        // if(TempData["EditProfileSuccess"].Equals(true))
        // {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Profile successfully modified</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        // }
    }
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
</section>
