@model PBManager.Dto.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Home";
}

@* <section class="content-wrapper"> *@
@*     <div class="row"> *@
@*     </div> *@
@*     <div class="row"> *@
@*     </div> *@
@*     <div class="row"> *@
@*     </div> *@
@*     <div class="row"> *@
@*     </div> *@
@* </section> *@
