
@{
    ViewBag.Title = "Subcategories";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <br><small>Manage subcategories</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2">
                        <a href="#" onclick="AddSubcategory()" class="btn btn-flat btn-block btn-success"><i class="fa fa-plus"></i> New subcategory</a>
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover data-table" id="tblSubcategory">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->


    <div class="modal fade" id="subcategoryViewModal">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Subcategory details</h3>
                </div>
                <div class="modal-body" id="subcategoryViewModalBody">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="subcategoryEditModal">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Edit subcategory</h3>
                </div>
                <div class="modal-body" id="subcategoryEditModalBody">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="subcategoryDeleteModal">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Edit subcategory</h3>
                </div>
                <div class="modal-body" id="subcategoryDeleteModalBody">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="subcategoryAddNewModal">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title content-header">Add subcategory</h3>
                </div>
                <div class="modal-body" id="subcategoryAddNewModalBody">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cashflowAddNewModal">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title content-header">Add cashflow</h3>
                </div>
                <div class="modal-body" id="cashflowAddNewModalBody">
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.content-wrapper -->


@section Scripts {
    <script src="~/Content/AdminLte2/plugins/datatables/jquery.dataTables.js"></script>

    <script type="text/javascript">


        $(function () {

            $.ajaxSetup({
                cache: false
            });

            $("#tblSubcategory")
                .DataTable({
                    "serverSide": true,
                    "ajax": "/Subcategories/SubcategoryData?userId=" +@User.Identity.Name ,
                    columnDefs: [{ orderable: false, targets: [2] }],
                    "columns": [
                        {
                            "data": "Name",
                            width: "10%"
                        },
                        {
                            "data": "Category",
                            width: "10%"
                        },
                        {
                            data: null,
                            width: "40%",
                            render: function (data, type, row) {
                                return "<a href+'#' onclick='ShowSubcategory(" + row.Id + ")' class='btn btn-flat btn-default'><i class='fa fa-eye'></i> View</a>" + "<a href='#' onclick='EditSubcategory(" + row.Id + ")' class='btn btn-flat btn-default'><i class='fa fa-pencil-square-o'></i> Edit</a>" + "<a href='#' onclick='DeleteSubcategory(" + row.Id + ")' class='btn btn-flat btn-danger'><i class='fa fa-trash-o'></i> Delete</a> ";

                            }
                        }
                    ],
                    searchDelay: 2000
                });

        });


        var ShowSubcategory = function (subcategoryId) {

            var url = "/Subcategories/View/" + subcategoryId;

            $("#subcategoryViewModalBody").load(url,
                function () {
                    $("#subcategoryViewModal").modal("show");

                });
        }

        var EditSubcategory = function (subcategoryId) {

            var url = "/Subcategories/Edit/" + subcategoryId;

            $("#subcategoryEditModalBody").load(url,
                function () {
                    $("#subcategoryEditModal").modal("show");

                })
        }


        var DeleteSubcategory = function (subcategoryId) {

            var url = "/Subcategories/Delete/" + subcategoryId;

            $("#subcategoryDeleteModalBody").load(url,
                function () {
                    $("#subcategoryDeleteModal").modal("show");

                })
        }

        var AddSubcategory = function () {

            var url = "/Subcategories/New/";

            $("#subcategoryAddNewModalBody").load(url,
                function () {
                    $("#subcategoryAddNewModal").modal("show");

                })
        }



        var AddCashflow = function(categoryId, subcategoryId) {
            var url = "/Cashflows/New?categoryId=" + categoryId +"&subcategoryId=" +subcategoryId;

            $("#subcategoryViewModal").modal('hide');

            $("#cashflowAddNewModalBody").load(url,
                function() {
                    $("#cashflowAddNewModal").modal("show");
                });
        }


    </script>
}